@import 'reset';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$grid-colums: 12;
@import '../bower_components/neat/app/assets/stylesheets/neat';

$mobile: new-breakpoint(max-width 740px);
$tablet: new-breakpoint(max-width 1090px);

// $max-width: 965px;
body {
    background-color: RGBA(17, 47, 57, 1);
    margin: 0 auto;
}


.container {
    margin: 0 auto;
    max-width: 965px;
}

a {
    text-decoration: none;
}

header {
    background-image: url("../images/biker-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: black 10px solid;
    padding: 90px;

}

article {
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 111px;
    margin-left: 100px;
    margin-right: 75px;
}

.article-1 {
    height: 330px;
    color: black;
    background-color: white;
    border: black 10px solid;
}

.gallery {
    height: 386px;
    border: black 8px solid;
    margin: 0 auto;
}

.pic1 {
    max-height: 370px;
    max-width: 313px;
    display: inline-block;
    overflow: hidden;

    img {
        max-width: 651px;
        margin-left: -9rem;
    }

}

.pic2 {
    max-height: 370px;
    max-width: 313px;
    display: inline-block;
    overflow: hidden;

    img {
        max-width: 528px;
        margin-left: -10rem;
    }

}

.pic3 {
    max-height: 370px;
    max-width: 313px;
    display: inline-block;
    overflow: hidden;

    img {
        max-width: 520px;
        margin-left: -8rem;
    }
}

.article-2 {
    height: 410px;
    border: black 10px solid;
    background-color: white;
    color: black;
}

.article-3 {
    height: 400px;
    border: black 10px solid;
    background-color: white;
    color: black;
}

.cont1 {
    font-family: "Raleway", "sans-serif";
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 75px;
    padding-right: 50px;
    padding-left: 60px;
}

.tel {
    font-family: "Raleway", "sans-serif";
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.email {
    font-family: "Raleway", "sans-serif";
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

footer p {
    height: 145px;
    border: black 10px solid;
    background-color: white;
    color: black;
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    padding-top: 40px;

}
