@import 'reset';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$mobile:     740px;
$mobile-r:   741px;
$tablet:     980px;

body {
    background-color: RGBA(17, 47, 57, 1);
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 965px;

    @media all and (max-width: $mobile) {
        max-width: 480px;
    }
}

a {
    text-decoration: none;
}

header {
    background-image: url("../images/biker-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: black 10px solid;
    padding: 90px;

     @media all and (max-width: $mobile) {
        background-position: left;

    }

    // Breakpoint for Tablet
    // // @media all and (min-width: $mobile-r) and (max-width: $tablet) {
    //     background-position: right;
    // }

    // Breakpoint for Mobile
    // @media all and (max-width: $mobile) {
    //
    // }
}

article {
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 100px 75px;
    color: black;

}

.article-1 {
    background-color: white;
    border: black 10px solid;
}

.gallery {
    height: 386px;
    border: black 8px solid;
    margin: 0 auto;

    div {
        max-height: 370px;
        display: inline-block;
        overflow: hidden;
        max-width: 32.9%;
    }

    .pic1 {
        max-width: 651px;
        margin-left: -9rem;
    }

    .pic2 {
        max-width: 528px;
        margin-left: -10rem;
    }

    .pic3 {
        max-width: 520px;
        margin-left: -8rem;
    }

    @media all and (max-width: $mobile) {
        position: relative;

        div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
        }

        .pic3 {
            margin-left: -3rem;
        }
    }
}

.article-2 {
    border: black 10px solid;
    background-color: white;

    @media all and (max-width: $mobile) {
        display: none;
    }

}

.article-3 {
    border: black 10px solid;
    background-color: white;
    color: black;
    padding: 100px 75px;

    p {
        font-family: "Raleway", "sans-serif";
        text-align: center;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .cont1 {
        font-size: 32px;
        text-transform: uppercase;
    }

    .tel {
        font-size: 40px;
    }

    .email {
        font-size: 30px;

        @media all and (max-width: $mobile) {
            font-size: 20px;
        }


    }
}

footer {
    padding: 40px;
    border: black 10px solid;
    background-color: white;
    color: black;

    p {
        font-family: "Raleway", "sans-serif";
        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
        font-weight: bolder;
        position: relative;
        z-index: 1;
        width: 75%;
        display: inline-block;
        vertical-align: top;
        padding-top: 25px;

        @media all and (min-width: $mobile-r) and (max-width: $tablet) {
            width: 67%;
        }

        @media all and (max-width: $mobile) {
            width: 61%;
            font-size: 25px;
        }
    }

    img {
        max-width: 100px;
        max-height: 100px;
        display: inline-block;

        @media all and (max-width: $mobile) {
            max-width: 70px;
            max-height: 70px;
        }
    }
}
