@import 'reset';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$mobile:     740px;
$mobile-r:   741px;
$tablet:     980px;

body {
    background-color: RGBA(17, 47, 57, 1);
    margin: 0 auto;
}

* { margin: 0; padding: 0; border: 0; }

.container {
    margin: 0 auto;
    max-width: 965px;

    @media all and (max-width: $mobile) {
        max-width: 480px;
    }
}

a {
    text-decoration: none;
}

header {
    background-image: url("../images/biker-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: black 10px solid;
    padding: 90px;

     @media all and (max-width: $mobile) {
        background-position: left;

    }

    // Breakpoint for Tablet
    // // @media all and (min-width: $mobile-r) and (max-width: $tablet) {
    //     background-position: right;
    // }

    // Breakpoint for Mobile
    // @media all and (max-width: $mobile) {
    //
    // }
}

.header-img {
    height: 300px;
    padding-top: 82px;
}

#primary_nav_wrap {
    margin-top:-90px;
    margin-left: 90px;

    ul {
       list-style:none;
       position:relative;
       float:left;
       margin:0;
       padding:0
    }
}

#primary_nav_wrap ul a {
    display:block;
    color: white;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#primary_nav_wrap ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#primary_nav_wrap ul li a:hover {
    color: #000;
}

#primary_nav_wrap ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color: RGBA(23, 46, 56, 1);
    padding:0;
    letter-spacing: 1px;
}

#primary_nav_wrap ul ul li {
    float:none;
    width:200px;
}

#primary_nav_wrap ul li:hover > ul {
    display:block;
}

article {
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 100px 75px;
    color: black;

}

.article-1 {
    background-color: white;
    border: black 10px solid;
}

.gallery {
    height: 386px;
    border: black 8px solid;
    margin: 0 auto;

    div {
        max-height: 370px;
        display: inline-block;
        overflow: hidden;
        max-width: 32.9%;
    }

    .pic1 {
        max-width: 651px;
        margin-left: -9rem;
    }

    .pic2 {
        max-width: 528px;
        margin-left: -10rem;
    }

    .pic3 {
        max-width: 520px;
        margin-left: -8rem;
    }

    @media all and (max-width: $mobile) {
        position: relative;

        div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
        }

        .pic3 {
            margin-left: -3rem;
        }
    }
}

.article-2 {
    border: black 10px solid;
    background-color: white;

    @media all and (max-width: $mobile) {
        display: none;
    }

}

.article-3 {
    border: black 10px solid;
    background-color: white;
    color: black;
    padding: 100px 75px;

    a {
        color: RGBA(72, 152, 174, 1);
    }

    p {
        font-family: "Raleway", "sans-serif";
        text-align: center;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .cont1 {
        font-size: 32px;
        text-transform: uppercase;
    }

    .tel {
        font-size: 40px;
    }

    .email {
        font-size: 30px;

        @media all and (max-width: $mobile) {
            font-size: 20px;
        }


    }
}

.social-icons {
    margin-left: 300px;

    a {
        color: RGBA(23, 46, 56, 1);
    }
}


footer {
    padding: 40px;
    border: black 10px solid;
    background-color: white;
    color: black;

    p {
        font-family: "Raleway", "sans-serif";
        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
        font-weight: bolder;
        position: relative;
        z-index: 1;
        width: 75%;
        display: inline-block;
        vertical-align: top;
        padding-top: 25px;

        @media all and (min-width: $mobile-r) and (max-width: $tablet) {
            width: 67%;
        }

        @media all and (max-width: $mobile) {
            width: 61%;
            font-size: 25px;
        }
    }

    img {
        max-width: 100px;
        max-height: 100px;
        display: inline-block;

        @media all and (max-width: $mobile) {
            max-width: 70px;
            max-height: 70px;
        }
    }
}

.biker-logo-section a {
    height: 50px;
    vertical-align: top;
}

.biker-logos {
    margin-left: 30px;
}

.bianchi {
    // margin-top: -20px;
}

.slider {
    position: relative;
    width: 965px;
    height: 700px;
    background-repeat: no-repeat;
    overflow: hidden;
    border: black 10px solid;
}

.slider__wrapper {
    // height: 100%;
    list-style: none;
    overflow: hidden;
    *zoom: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.slider__item {
    height: 100%;
    float: left;
    clear: none;
}

.slider__arrows-item {
    position: absolute;
    display: block;
    margin-bottom: -20px;
    padding: 20px;
}

.slider__arrows-item--right {
    bottom: 50%;
    right: 30px;
}

.slider__arrows-item--left {
    bottom: 50%;
    left: 30px;
}

.slider__nav {
    position: absolute;
    bottom: 30px;
}

.slider__nav-item {
    width: 12px;
    height: 12px;
    float: left;
    clear: none;
    display: block;
    margin: 0 5px;
    background: #fff;
}

.slider__nav-item--current {
    background: #ccc;
}

.slider__nav-item:hover {
    background: #ccc;
}
